@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slideFade 0.4s ease-in-out;
}

